body {
  font-family: Verdana;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: center;
}
header{
  font-size: 12px;
  padding: 8px 8px 12px;
  border-bottom: 2px solid rgb(166, 166, 212);
  max-height: 200px;
}
header p{
  display: inline;
  margin: 8px;
}
.nav{
  padding: 0px 80px;
  border:rgb(0, 0, 0);
  overflow: hidden;
}
.logo{
  width: 120px;
  float: left;
}
li{
  padding:0px;
  float: right;
  list-style-type: none;  
  margin: 16px;
  display: relative;
  align-items: center;
}
#order-now{
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: rgb(82, 67, 192)
}
#order-now:hover{
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: rgb(92, 78, 200)
}
a{
  text-decoration: none;
  font-size: 14px;
  color:rgb(0, 0, 0);
}
a:hover {
  color: rgb(97, 82, 206);
}
.sec1{
  align-items: center;
  padding: 40px 320px;
}
.sec1 p{
  font-size: 18px;
}
.main-heading span{
  color:rgb(97, 82, 206);
  font-style: italic;
}
.main-heading{
  font-size: 36px;
}