*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

#blog{
    width: 60%;
    margin-top: 60px;
}

.image{
    width: 600px;
}

.post-info{
    display: flex;
    gap: 20px;
}

.body{
    font-size: 18px;
}